

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Square Box with Buttons</title>
</head>

<body>
<div class="home-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="sidebar-title">EMS Dashboard</h2>
    <nav>
      <a routerLink="employees" routerLinkActive="active">View Employees</a>
      <a routerLink="create-employee" routerLinkActive="active">Create Employee</a>
      <a routerLink="get-employee-by-id" routerLinkActive="active">Get Employee By ID</a>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </nav>
  </aside>

  <!-- Main content area -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

</body>

</html>