<!-- <div class="form-container" > -->
<!-- <form class="square-form">
    <div class="button-container"><br><br><br><br><br>
        <button class="button" mat-raised-button color="primary"><a routerLink="employees" routerLinkActive="active" class="nav-link">Employee-list</a> </button><br>
        <button class="button" mat-raised-button color="primary"><a routerLink="create-employee" routerLinkActive="active" class="nav-link">Create Employee</a></button><br>
        <button class="button" mat-raised-button color="primary"> <a routerLink="Get-employeebyId" routerLinkActive="active" class="nav-link">Get Employee ById</a></button>
    </div></form> -->
<!-- </div> -->



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Square Box with Buttons</title>
</head>
<body>
  <div class="square-box">
    <button class="button" mat-raised-button color="primary"><a routerLink="employees" routerLinkActive="active"
        class="nav-link">Employee-list</a> </button><br>
    <button class="button" mat-raised-button color="primary"><a routerLink="create-employee" routerLinkActive="active"
        class="nav-link">Create Employee</a></button><br>
    <button class="button" mat-raised-button color="primary"> <a routerLink="Get-employeebyId" routerLinkActive="active"
        class="nav-link">Get Employee ById</a></button>

  </div>
</body>

</html>